.footer {
  @extend %full-width;
  background-color: $footer-background-color;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $footer-text-color;
  padding: 18px 0 25px 0px;

  .footer-section {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    @media screen and (max-width: $tablet-width) {
      width: 100%;
      flex-direction: column;
    }
  }

  .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85vw;
    @media screen and (max-width: $tablet-width) {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    color: white;
    @media screen and (max-width: $tablet-width) {
      align-items: center;
    }
  }

  .subscribe {
    width: 160px;
    margin: 40px 0;
    border: 1px solid white;
    border-radius: 25px;
    padding: 12px 20px;
    text-align: center;
    vertical-align: middle;
  }

  .footer-info {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    justify-content: center;
    margin-top: 0;
  }

  .group-column {
    margin: 0 50px;
    @media screen and (max-width: $tablet-width-landscape) {
      margin: 0 25px;
    }
    @media screen and (max-width: $tablet-width) {
      width: 100%;
      margin: 20px 0;
      text-align: center;
      align-items: center;
    }
  }

  .info-header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .info-list {
    font-size: 1rem;
    padding: 5px 0;
    list-style-type: none;
  }

  .copy-right {
    @media screen and (max-width: $mobile-width) {
      margin: 0 10px;
      text-align: center;
    }
  }
}
