.header-wallet {
  display: flex;
  justify-content: center;

  .wallet-container {
    display: flex;
    padding-left: 30px;

    .wallet-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .wallet-text {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
      padding-bottom: 6px;
      &:hover {
        text-decoration: none;
      }
    }
    .wallet-link {
      cursor: pointer;
    }
    .wallet-text-metamask {
      color: $header-menu-icon-color;
    }
  }

  .daily-quota-container {
    background-color: $secondary-color-white;
    border-radius: 2px;
    height: 2px;

    .daily-quota-progress {
      background-color: $daily-quota-progress;
      border-radius: 2px;
      height: 4px;
    }
  }
  @media (max-width: 980px) {
    display: none;
  }
}

.wallet-connect {
  display: flex;
  color: #0844d2;
  background-color: #eff7ff;
  padding: 6px 12px;
  border-radius: 7px;
  white-space: pre;
  @media screen and (max-width: 768px) {
    position: absolute;
    right: 10px;
    bottom: 72px;
  }
}
