.header-menu {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  @media screen and (max-width: $mobile-width) {
    width: 100%;
  }
  @media screen and (max-width: $tablet-width) {
  }
}
